body{
    margin: 0 auto;
    padding: 0 auto; 
    background: url("background.png");
    border-image: none;
    background-size: cover;
<<<<<<< HEAD
    background-position: center;
=======
    
}

.pertanian{
    justify-content: space-evenly; 
    padding: 2% 8% ;
    width: 12%;
}

#lokatanam{
    width: 150px;
    height: 90px;
    margin-left: 100px;
    margin-top: 30px;
}

@media screen and (max-width: 576px){
    #lokatanam{
        width: 150px;
        height: 90px;
        margin-left: 100px;
        margin-top: 30px;
    }
    .pertanian{
        justify-content: space-evenly; 
        padding: 4% 8% ;
        width: 12%;
    }
    #kolom{
        background:rgba(131, 141, 119, 0.575);
        width: 27%;
        height: 80%;
        /* margin: 50px ; */
        color: white;
        border-radius: 8% ;
        margin-left: 20%;
        margin-top: -0%;
        border: rgba(43, 48, 43, 0.521) solid 0.4px;
        box-shadow: 0 0 200px 50px rgba(128, 138, 111, 0.411);
        justify-content: space-evenly;
        position: center ;

        
    }
}

#kolom{
    background:rgba(131, 141, 119, 0.575);
    width: 350px;
    height: 600px;
    margin: 50px ;
    color: white;
    border-radius: 25px ;
    margin-left: 37%;
    margin-top: -0%;
    border: rgba(43, 48, 43, 0.521) solid 0.4px;
    box-shadow: 0 0 200px 50px rgba(128, 138, 111, 0.411);

}

#nama{
    width: 300px;
    height: 30px;
    margin-left: 25px;
    border-radius: 10px;  
    background-color: #bbc99b;
    border: 2px solid #bbc99b; 
    margin-top: 20px;

>>>>>>> 969994df9c219532a337b43ae96f840c12be2277
}

#email{
    width: 88%;
    height: 30px;
}

#psw{
    width: 88%;
    height: 30px;
}

#namapengguna{
    width: 88%;
}

.inboxdaftar{
    width: 40%;
    padding-bottom: 0% auto ;
    margin-top: 15%;
    margin-left: 28%;
    padding: 0 auto;
    text-align: center;
    background: rgba(182, 181, 181, 0.568);
    color: black;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
}

.inboxdaftar input{
    border: #707070;
    outline:none;
    background-color: #B3BBA0;
    width: 217px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #707070;
    color: white;

}

::placeholder{
    color: white;
}

.inboxdaftar button[type="submit"]
{
    border: #707070;
    outline: none;
    height: 30px;
    width: 300px;
    margin-top: 3%;
    border-radius: 8px;
    background-color: #B3BBA0;
    font-size: 15px;
    font-family: 'Segoe UI';
    cursor: pointer;
    color: white;
}

.inboxdaftar button[type="submit"]:hover
{
    cursor: pointer;
    background-color:#6D7659;
    color:#3E4D19;
}

.garis::before{
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #CFCFCF;
    margin-top: -1.8%;
    margin-left: 5%;
}

.garis::after{
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #CFCFCF;
    margin-top: -1.8%;
    margin-left: -9.6%;
}

.inboxdaftar p{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
    margin-top: -2%;
    font-family: 'Segoe UI';
}


.inboxdaftar h1{
    position:absolute;
    left: 4%;
    top: 2%;
}

.eye{
    position: absolute;
    text-align: right;
    margin-top: 0.7%;
    margin-left: -2.5%;
    cursor: pointer;
}

#hide1{
    display: none;
}

.sosmed {
    text-align: center;
    padding-bottom:5% ;
}

.sosmed a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #B3BBA0;
    line-height: 50px;
    margin: 5px;
    border: 1px solid #707070 ;
}

.sosmed a:hover{
    background-color:#6D7659;
}

@media screen and (max-width:576px){
    body{
        background-size: auto;
    }
    .inboxdaftar{
        width: 80%;
        margin-left: 10%;
        margin-bottom: -10%;
    }

    .inboxdaftar h1 img{
        width: 50px;
        margin-bottom: 40%;
    }

    #namapengguna{
        margin-top: -5%;
        width: 90%;}

    .inboxdaftar button[type="submit"]{
        width: 90%;
    }

    .garis{
        display: none;
    }

    .eye{
        margin-top: 2.5%;
        margin-left: -7%;
    }
    
}