@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

#page1{
    background: url("bg.png");
    border-image: none;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.226);
}


.menuatas h1{
    position:absolute;
    left: 4%;
    top: 2%;
}

.menuatas h2{
    position: absolute;
    margin-top: 15%;
    margin-left: 34%;
}

.menuatas h3{
    position: absolute;
    margin-top: 30%;
    margin-left: 31%;
    font-family: 'News Cycle', sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: 100;
}

.menuatas h4{
    position: absolute;
    margin-top: 32%;
    margin-left: 32%;
    font-family: 'Gill Sans MT';
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: 100;

}

.menuatas{
    background-color: white;
    height: 40px;
    margin-top: 1%;
}

nav ul{
    list-style: none;
}

nav ul li a{
    float: right;
    text-decoration: none;
    color:#9DA094;
    padding: 0px 40px;
    text-align: center;
    line-height: 8px;
    margin-top: 1%;
    font-family: 'montserrat', sans-serif;  
    font-size: 15px;   
    font-weight: bold;     
}

#home{
    color: #8BAA30;
}

.garis{
    position: absolute;
    width: 68px;
    height: 2px;
    background-color: #8BAA30;
    margin-left: 51%;
    margin-top: 3.1%;
}

.menubawah{
    background-color: white;
    margin-top: 0;
    height: 30px;
    border-top: 1.5px solid rgb(179, 176, 176);
}

.menubawah nav ul li a{
    color: black;
    font-size: 12px;
}

.gariskedua{
    position: absolute;
    width: 64px;
    height: 2px;
    background-color: black;
    margin-left: 64.5%;
    margin-top: 2.3%;
}

.menubawah h3{
    font-size: 40px;
    color: white;
    margin-top: 10%;
    width: 50%;
    margin-left: 8%;
    font-family: 'News cycle', sans-serif;
    line-height: 50px;
}

.menubawah h4{
    font-size: 20px;
    color: white;
    margin-top: 1%;
    font-family: 'News cycle', sans-serif;
    margin-left: 8%;
    font-weight: normal;
    width: 40%;
    
}

nav input[type="text"]{
    border-radius: 12px;
    height: 20px;
    width: 350px;
    border: 1.5px solid rgb(179, 176, 176);
    margin-top: 0.3%;
    margin-left: 30%;
    outline: none;
    padding-left: 3%;
}

.loupe{
    margin-top: -1.5%;
    margin-left: 31%;
}

::placeholder{
    padding-left: 1%;
    font-family: 'Segoe UI';
}

.page2{
    background: #516528;
    height: 350vh;
}

.bigkotak{
    background:white;
    width: 90%;
    height: 90%;
    margin-left: 5%;
}

.bigkotak ul{
    height: 30px;
    list-style-type: none; 
    font-family: 'News Cycle', sans-serif; 
    font-size: 15px;
}

.bigkotak ul li{
    float: left;
    margin-top: 2%;
    padding-left: 10%;       
}

#kunjungikedua{
    padding-left: 25.5%;
}

#kunjungiketiga{
    padding-left: 25%;
}

.garisblog1{
    position: absolute;
    width: 47px;
    height: 3.5px;
    background-color: black;
    margin-left: -69.5%;
    margin-top: 4%;
}

.garisblog2{
    position: absolute;
    width: 47px;
    height: 3.5px;
    background-color: black;
    margin-top: 4%;
    margin-left: -37%;
}

.garisblog3{
    position: absolute;
    width: 47px;
    height: 3.5px;
    background-color: black;
    margin-left: -6%;
    margin-top: 4%;
}

.text{
    margin-top: 15%;
}

.text h1{
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-left: 2%;
    font-weight: normal;
}

.text h2{
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-left: 2%;
    font-weight: bold;
}

.text h3{
    font-family: 'Segoe UI', sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: white;
    width: 98%;
    text-align: center;
    margin-left: 1%;
}

.button input[type="button"]{
    background-color: #838B39 ;
    border-radius: 8px;
    width: 60%;
    margin-top: 12%;
    border: none;
    color: white;
    padding: 3%;
    margin-left: 22%;
}

.button input[type="button"]:hover{
    background-color: rgb(85, 119, 30);
}

.page2 .isiblog1{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: -145%;
}

.page2 .isiblog1 .box{
    background-color: #516528;
    border-radius: 20px;
    width: 22%;
    height: 380px;
    margin-left: 4%;
    margin-right: 9%;
}

.page2 .isiblog1 .box .image{
    position: relative;
    width: 100%;
    height: 150px;
}

.page2 .isiblog1 .box .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page2 .isiblog1 .box .image .orang img{
    margin-top: 40%;
    margin-left: 34%;
    width: 37%;
    height: 58%;
}

.page2 .isiblog2{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
}

.page2 .isiblog2 .box{
    background-color: #516528;
    border-radius: 20px;
    width: 22%;
    height: 380px;
    margin-left: 4%;
    margin-right: 9%;
}

.page2 .isiblog2 .box .image{
    position: relative;
    width: 100%;
    height: 150px;
}

.page2 .isiblog2 .box .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page2 .isiblog2 .box .image .orang img{
    margin-top: 40%;
    margin-left: 34%;
    width: 37%;
    height: 58%;
}

.bagianbawah{
    display: flex;
    margin-top: 50%;
}

.bagianbawah .kiri img{
    float: left;
    width: 14%;
    margin-left: -655%;
    margin-top: 5%;
    cursor: pointer;
}

.bagianbawah .kanan img{
    float: right;
    width: 14%;
    cursor: pointer;
}

.navigation{
    position: absolute;
    margin-top: 1%;
    margin-left: -22%;
    transform:translateX(-50%);
    display: flex;
}

.bar{
    border: 2px solid rgb(139, 202, 97);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    width: 5px;
    height: 5px;
    margin: 10px;
}

#now{
    border: 2px solid rgb(139, 202, 97);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    width: 5px;
    height: 5px;
    margin: 10px;
    background-color: rgb(87, 124, 31);
}

.bar:hover{
    background-color: rgb(87, 124, 31);
}

/* Fitur corona */

.page2 .isiblog2 .tulisan{
    font-family: 'Noto Sans', sans-serif;
    margin-top: 100%;
    font-size: 10px;
    margin-left: -325%;
}

.page2 .isiblog3{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 35%;
}

.page2 .isiblog3 .box{
    background-color: #516528;
    border-radius: 20px;
    width: 25%;
    height: 300px;
    margin-left: 4%;
    margin-right: 9%;
}

.page2 .isiblog3 .box .image{
    position: relative;
    width: 100%;
    height: 150px;
}

.page2 .isiblog3 .box .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page2 .isiblog3 .box .text{
    margin-top: 5%;
}

.page2 .isiblog3 .box .text h1{
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
    margin-left: 2%;
    font-weight: bold;
}

.page2 .isiblog3 .box .text h2{
    font-family: 'Segoe UI', sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
    margin-left: 2%;
    font-weight: normal;
}

#buttonkedua{
    margin-top: -10%;
}

.kotakbawah{
    background-color: #516528;
    height: 35vh;
}

.kotakbawah .isiteks{
    text-align: center;
    color: #B1C795;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding-top: 7%;
}

.kotakbawah .isiteks h2{
    font-size: 12px;
    font-weight: normal;
}