body{
    margin: 0 auto;
    padding: 0 auto; 
    background: url("bgakun.jpeg");
    border-image: none;
    background-size: cover;
    background-position: center;
}

#email{
    width: 88%;
    height: 30px;
}

#namapengguna{
    width: 88%;
}

.inbox{
    width: 40%;
    margin-top: 10%;
    margin-left: 28%;
    text-align: center;
    background: rgba(182, 181, 181, 0.568);
    color: black;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 5%;
}

.inbox input{
    border: #707070;
    outline:none;
    background-color: #B3BBA0;
    width: 217px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #707070;
    color: white;

}

::placeholder{
    color: white;
}

.inbox button[type="button"]
{
    border: #707070;
    outline: none;
    height: 30px;
    width: 300px;
    margin-top: 3%;
    border-radius: 8px;
    background-color: #B3BBA0;
    font-size: 15px;
    font-family: 'Segoe UI';
    cursor: pointer;
    color: white;
}

.inbox button[type="button"]:hover
{
    cursor: pointer;
    background-color:#6D7659;
    color:#3E4D19;
}



.inbox h1{
    position:absolute;
    left: 4%;
    top: 2%;
}

.inbox h2{
    position: absolute;
    left: 50%;
}

.inbox h4{
    margin-left: 20%;
    margin-top: -10%;
}

.eye{
    position: absolute;
    text-align: right;
    margin-top: 0.7%;
    margin-left: -2.5%;
    cursor: pointer;
}

#hide1{
    display: none;
}

.sosmed {
    text-align: center;
    padding-bottom:5% ;
}

.sosmed a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #B3BBA0;
    line-height: 50px;
    margin: 5px;
    border: 1px solid #707070 ;
}

.sosmed a:hover{
    background-color:#6D7659;
}

@media screen and (max-width:576px){
    body{
        background-size: auto;
    }
    .inbox{
        width: 80%;
        margin-left: 10%;
        margin-top: 30%;
    }

    .inbox h1 img{
        width: 50px;
        margin-bottom: 40%;
    }

    #namapengguna{
        margin-top: 10%;
        width: 90%;
    }

    .inbox button[type="button"]{
        width: 90%;
    }

    .inbox h2 img{
        width: 30%;
    }

    .inbox h3 img{
        width: 45%;
    }

    .inbox h4 img{
        display: none;
    }

}